/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.about-secondary {
    height: 69vh;
    min-height: 280px;
    max-height: 540px;

}
/*section*/
.priorites {
height: 220px;
background-color: #997070;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}
.priorites-box{
color: #ebd5d3;
width: 385px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}
.priorites-bos:nth-child(1) {
background-color:#997070 ;
}
.priorites-box:nth-child(2) {
background-color: #946c6c;
}
.priorites-box:nth-child(3) {
background-color: #876363;
}
.left-item {
color: #faeeed;
font-size: 65px;
padding-top: 75%;
padding-right: 15px;
}
.priorites-box h3 {
font-size: 22px;
width: 200px;
}
.priorites-box p {
width: 210px;
font-size: 18px;
padding-top: 10px;
}
.priorites-inside-box {
text-align: center;
padding-top: 44px;
}
/*section*/
.about-box {
margin-top: 50px;
}
.about-box img {
max-width:530px ;
}
.about-right { 
width: 600px;
padding: 30px;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.about-box h3 {
font-size: 23px;
color: #911b19;
}
.about-box  p {
font-size: 20px;
width: 100%;
padding: 5px 0;
}
.p-box {
padding:28px 0;
color: #878282;
}
.about-box h4 {
font-size: 35px;
padding: 15px 0;
font-weight: bold;
}
.about-box h5 {
font-size: 23px;
padding-top: 40px;
}
.about-box h5 span {
color: #911b19;
}
/*section*/
.feedback {
background-image: url('../images/alcoholbar.webp');
background-size: cover;
background-position:center;
background-attachment:fixed;
z-index: 1000;
height: 100%;
padding: 80px 0;
}
.feedback-box {
color: #fff;
text-align: center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
padding: 80px 40px;
border: 3px solid #f1f1f1;
-webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
}
.clients-box {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
padding-top: 100px;
padding-right: 0;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.feedback-box h3{
font-size: 20px;
}
.feedback-box h1{
font-size: 40px;
padding-top: 20px;
}
.clients-box p {
width: 90%;
font-size: 18px;
margin: 0 auto;
}
.clients-box img {
width: 70px;
height: 70px;
border-radius: 50%;
}
.client {
padding-top: 20px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}
/*section*/
.number-box {
text-align: center;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.number-box h3 {
color: #911b19;
font-size: 33px;
margin-top: 19px;
}
.number-box p {
font-size: 18px;
padding: 20px 0;
text-transform: uppercase;
}
.priorities-wrapper .slider-button {
display: none;
}

@media (min-width: 1025px) {
.priorites {
    -webkit-transform: unset !important;
        -ms-transform: unset !important;
            transform: unset !important;
}
}

@media (max-width: 1024px) {
.priorities-wrapper {
    overflow: hidden;
    position: relative;
}

.priorities-wrapper .slider-button {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    z-index: 99;
    width: 50%;
    height: 100%;
    border: none;
    background: none;
    opacity: 0;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    text-align: left;
    color: #fff;
    font-size: 32px;
    padding: 20px;
    display: block;
}

.priorities-wrapper .slider-button.next-button {
    position: absolute;
    left: unset;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    text-align: right;
}

.priorities-wrapper:hover .slider-button  {
    opacity: 1;
}

.priorites {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.priorites-box {
    width: 100%;
    min-width: 100%;
}
}