/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*section1*/
.fa {
    background-color: #911b19;
    color: #fff;
    padding: 34px;
    border-radius: 50%;
    margin-top: 10px;
}
.contact {
    width: 21%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}
.contact p {
    margin-top: 20px;
    font-size: 19px;
}
.contact-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
/*section2*/
.container.form {
    background-color: #fff;
    padding: 0;
    margin-bottom: 30px;
}
.map {
    width: 43%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.right-form{
    width: 52%;
    padding-right: 210px;
}
.right-form h3 {
    font-size: 30px;
    width: 100%;
    padding-top: 20px;
}
.name-address{
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.form-each {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
input {
    height: 40px;
    border: none;
    border-bottom: 2px solid #911b19;
}
textarea {
    height: 120px; 
    border: none;
    border-bottom: 2px solid #911b19;
    padding-top: 10px;
}
.label {
    color:#911b19;
    margin-top: 10px ;
}
button {
    color: #fff;
    background-color: #911b19;
    padding: 20px; 
    border: none;
    margin-top: 10px;
}