/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*section*/
.left-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.pruducts-text-box form {
    width:100%;
	height:auto;
	overflow:hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    outline: none;
}
.pruducts-text-box form option {
    background-color: #e3e1e1;
    
}
.products-box {
    width: 300px;
}
.pruducts-text-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px ;
}
.pruducts-text-box h3 {
    font-size: 20px;
}
.right-block {
    margin-top: 30px;
    width: 20%;
    margin-left: 20px;
}
.right-block h4 {
    font-size: 24px;
}
.brends-box  div {
   border-bottom: 2px solid #911b19;
    margin: 18px 0;
}
.brends-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.blog-box div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.blog-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 30px 0;
}
.blog-box p {
    width: 140px;
    font-size: 17px;
}
.blog-box img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
}
.date p {
    color: #a36c6c;
    font-size: 13px;
    margin-top: 10px;
}