/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width:952px) {
    .about  {
        width: 90%;
    }
    .products {
        width: 33%;
    }
}
@media (max-width:782px) {
    .nav-ul {
        display: none;
    }
    .bar {
        display: block;
    }
}
@media (max-width:575px) {
    .footer-none {
        display: none;
    }
    .blog-box p {
        display: none;
    }
    .blog-box .date p {
        display: block;
    }
    .about-right {
        width: 100%;
    }
}
@media (max-width:1124px) {
    .about-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}
@media (max-width:900px) {
    .number-box div {
        width: 50%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .clients-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .client {
        margin: 0 0 48px 0;
    }
}
@media (max-width:700px) {
    .contact {
        width: 50%;
    }

}
@media (max-width:1024px) {
    .form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .map ,
    .map iframe {
        width: 100%;
    }
    .right-form {
        width: 100%;
        padding: 0 100px;
    }
}
@media (max-width:560px) {
    .about h1 {
        font-size: 72px;
    }
    .background {
        background-position: bottom;
    }
    .question {
        display: none;
    }
    .products {
        width: 50%;
        margin: 0 0 10px 0;
    }
}