/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*header*/
body {
    background-color: #e3e1e1;
    font-family: 'Fira Sans',sans-serif;
}
a:visited {
    color: #fff;
}
.burger-menu {
    width:100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.7); 
    position: fixed;
    z-index: 999999999;
    left: 0;
    top: 0;
}
.burger-menu.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.background {
    background-image: url('../images/bg_2.jpg.webp');
    background-size: cover;
    background-position:center;
    background-attachment:fixed;
    z-index: 9999999;
    height: 100vh;
    min-height: 560px;
    max-height: 1080px;
    position: relative;

}
.background.secondary {
    height: 55vh;
    min-height: 280px;
    max-height: 540px;
}
.container {
    max-width:1089px;
    width: 80%;
    margin: auto;
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.container a,
.container a:visited {
    color: #fff;
}
nav a.active,
nav a:hover {
    border-bottom: 2px solid #fff;
    -webkit-transition:0.15s ;
    -o-transition:0.15s ;
    transition:0.15s ;

}
.header {
    z-index: 999;
}
.flex-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
   
}
.flex-header.fixed {
    width: 100%;
    background-color:#9e9090; 
    position: fixed;
    z-index: 9999;
}
.nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav-ul li {
    margin-right: 49px; 
}
.nav-ul li:last-child {
    margin-right: 0;
}
.header {
    background-image :url(../images/Group\ 72.png) ;
    height: 324px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bar {
    display: none;
    color: #fff;
}
.nav-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
}
.nav-burger li {
    position: relative;
    left: -80px;
    opacity: 0;
    -webkit-animation: revealLi 1.25s forwards;
            animation: revealLi 1.25s forwards;
    
}
.nav-burger li a {
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke: 1.25px #fff;
}
.nav-burger li a.active {
    font-size: 50px;
    color:#911b19;
    -webkit-text-stroke: 1.25px #911b19;

}
.nav-burger li:nth-child(2) {
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;
}
.nav-burger li:nth-child(3) {
    -webkit-animation-delay: 0.50s;
            animation-delay: 0.50s;
}.nav-burger li:nth-child(4) {
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
}
.fa-circle-xmark {
    font-size: 29px;
    color: #911b19;
    position: absolute;
    top: 20px;
    right: 20px;
}
.about {
    color: #fff;
    width: 60%;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-4deg);
        -ms-transform: translate(-50%, -50%) rotate(-4deg);
            transform: translate(-50%, -50%) rotate(-4deg);
    -webkit-animation: reveal 0.95s ease-out;
            animation: reveal 0.95s ease-out;
}
.about h1 {
    color: #fff;
    font-weight:bold;
    font-size: 89px;
    
    margin: auto;
}
.about-container {
    font-size: 18px;
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: center;
    margin: auto;
}
.about-container div{
    width: 100%;
    max-width: fit-content;
    background-color: #911b19;
    padding: 10px;
    border: 1px solid #911b19;
    color: #fff;
}
.about-container div.readmore {
    background-color: transparent;
    border: 1px solid #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    margin-left: 20px;
}
.about-container div.readmore:hover {
    background-color: #911b19;
    padding: 10px;
    border: 1px solid #911b19;
    color: #fff;
}
.outline {
    color: transparent;
    -webkit-text-stroke: 1.25px #fff;
}
.main-page {
    font-size: 30px;
}
.main-page .fa-solid {
    font-size: 18px;
    margin: 0 0 0 4px;
}
.active-page {
    color:#fff;
    font-size: 60px;
    font-weight: bold;
}

/*footer*/
.footer-container {
    color: #9e9090;
    background-color: #3d1212;
}
.fa-brands {
    padding: 8px;
    background-color:antiquewhite;
    border-radius: 50%;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.fa-brands:hover {
    background-color: #9e9090;
    color: antiquewhite;
    font-size: 25px;
    border-radius: 8px;
    padding: 10px;
}
.flex-box {
    width: 32%;
}
.flex-box li {
    margin-bottom: 10px ;
}
.flex-box h3 {
    font-size: 20px;
    padding-bottom: 20px;
}
.flex-box p {
    font-size: 18px;
    padding: 20px 0;
}
.flex-box i {
    margin-right: 10px;
}
.call {
    margin:15px 0 ;
}
.fa-facebook {
    margin: 0 5px;
}
.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
}

@-webkit-keyframes reveal {
    from{
        opacity: 0;
        -webkit-transform: translate(-50%, -40%) rotate(-4deg);
                transform: translate(-50%, -40%) rotate(-4deg);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) rotate(-4deg);
                transform: translate(-50%, -50%) rotate(-4deg);

    }
}

@keyframes reveal {
    from{
        opacity: 0;
        -webkit-transform: translate(-50%, -40%) rotate(-4deg);
                transform: translate(-50%, -40%) rotate(-4deg);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) rotate(-4deg);
                transform: translate(-50%, -50%) rotate(-4deg);

    }
}
@-webkit-keyframes revealLi {
    to {
        left: 0;
        opacity: 1;
    }
}
@keyframes revealLi {
    to {
        left: 0;
        opacity: 1;
    }
}